{% extends "dashboard.html" %}
{% block title %}Collections{% endblock %}

{% block css %}
  {{ super() }}
    <link href="{{ url_for('static', filename='assets/css/user_collection.css') }}" rel="stylesheet">
{% endblock %}

{% block bottomJS %}
  {{ super() }}
  <script src="{{ url_for('static', filename='assets/js/ie-emulation-modes-warning.js') }}"></script>
{% endblock %}

{% block collection %}
  <div class="row">
      <div class="col-md-4 user_collection">
        <p> New Collection </p>
        <form class="form-horizontal" action="{{ url_for('add_collection') }}" method=post>
          <div class="form-group">
            <div class="col-md-12">
              <input type="text" class="form-control" name = "collection" id="collection" placeholder="Collection Label">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-10">
              <button type="submit" class="btn btn-primary">Add Collection</button>
            </div>
          </div>
        </form>
      </div>
  </div>
{% endblock %}